<div class="row">
  <h2>Honors</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Our paper titled "Neural factorization for Offer Recommendation using Knowledge Graph Embeddings" got accepted at <a href="https://sigir-ecom.github.io/ecom2019/index.html">SIGIR'19 ECOM</a></li>
      <li class="newsElement">Presenting author at International Conference on Emerging Technologies in Data Mining and Information Security (IEMIS), 2018</li>
      <li class="newsElement">Captained my team to win the Fine Arts Cup at SoCult General Championships 2019, conducted by <a href="http://www.gymkhana.iitkgp.ac.in/index.php">Technology Students' Gymkhana IIT Kharagpur </a></li>
      <li class="newsElement">Selected in 33 of 83 teams (279 students) in Microsoft code.fun.do 2018, for Chatterji: Chatting with Emoji, with real-time emoji prediction</li>
      <li class="newsElement">Chosen among 63 teams of 700 participating teams nationwide in EXL Excellence Quotient 2018, conducted by EXL Analytics</li>
      <li class="newsElement">Privileged as 1 of 1000 eligible students across the nation for Prime Minister's Scholarship Scheme under National Defence Fund, 2016</li>
      <li class="newsElement">Bagged the position of 81 among over 2000 teams in Amex Analyze This 2017, conducted by American Express</li>
      <li class="newsElement">Procured gold medals for acquiring the 1st position in the campus in Inter-Hall Cartooning and Open-IIT Cartooning Competitions at IIT Kharagpur</li>
    </ul>
  </div>
</div>
