<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Indian Institute of Technology, Kharagpur</h3>
      <h4 class="content_heading">Metallurgical and Materials Engineering (Major, Dual Degree (B.Tech. + M.Tech.))</h4>
        <p class="content">CGPA: <em>8.34/10.0</em></p>
        <p class="content">Class Rank: <em>4th rank</em></p>
      <h4 class="content_heading">Mathematics and Computing (Minor)</h4>
        <p class="content">CGPA: <em>8.05/10.0</em></p>
        <p class="content">Graduation: July 2020</p>

    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/IIT_Kharagpur_Logo.png" width="60%">
      <p>(August 2015 - July 2020)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Delhi Public School, Bokaro</h3>
      <h4 class="content_heading">All India Senior Secondary Certificate Examination (Class XII)</h4>
        <p class="content">GPA: <em>92.8%</em></p>
        <p class="content">Procured <em>top-5%</em> in science stream</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/DPS_logo.jpg" width="42%">
      <p>(August 2013 - June 2015)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">De Nobili School, Sindri</h3>
      <h4 class="content_heading">Indian Certificate of Secondary Education (Class X)</h4>
        <p class="content">GPA: <em>95.33%</em></p>
        <p class="content">Class Rank: <em>1st rank (or top-0.83%)</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/denobili_logo.png" width="45%">
      <p>(till June 2013)</p>
    </div>
  </div>

</div>
