<div class="row">
  <h2>Experience</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Engineer (Machine Learning), <a target="_blank"
          href="https://www.google.com/">Google</a></h3>
      <p class="content">Working towards improving Google Assistant for it to serve more people and make lives easier. </p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/google.webp" width="100px">
      <p>(May 2022 - Present)</p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Data Scientist, <a target="_blank"
          href="https://www.olacabs.com/">Ola Cabs</a></h3>
      <p class="content">Working on real world problems to improve customer experience for millions of daily users in ola cabs app.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ola_new.jpeg" width="100px">
      <p>(Sept 2020 - May 2022)</p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Engineer Intern, <a target="_blank"
          href="https://www.olacabs.com/">Ola Cabs</a></h3>
      <p class="content">Worked on improving the customer experience on ola app by improving the drop suggestion model.
      The new model beats the in-production model by <b>18.67%</b>. Also implemented a novel one-touch booking system.
      Granted a pre-placement offer.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ola_new.jpeg" width="100px">
      <p>(May 2019 - July 2019)</p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Data Science Intern, <a target="_blank" href="https://www.innoplexus.com/">Innoplexus</a></h3>
      <p class="content">Developed a text-summarizer model that encapsulates a 30-40 page Clinical trial document
           into a single page relevant summary. Awarded a pre-placement offer.</p>
    </div>
    <div class="col-sm-3" align="center">
      <br>
      <br>
      <img src="static/img/innoplexus.png" width="200px">
      <p>(May 2018 - July 2018)</p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Data Science Intern, <a target="_blank" href="https://snap.com/">Dipper</a></h3>
      <p class="content">Worked on improving supply chain and optimising transport logistics using descriptive and predictive analytics.</p>
    </div>
    <div class="col-sm-3" align="center">
      <br>
      <img src="static/img/dipper.jpeg" width="180px">
      <p>(Dec 2017 - Jan 2018)</p>
      <br>
    </div>
  </div>
</div>
